
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <a href="" class="btn btn-primary btn-block mb-3">Año</a>

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Años</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            
            <div class="card-body p-0">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                    <a href="#" class="nav-link" (click)="seleccionarAnio($event, 2022)">
                      <i class="far fa-file-alt"></i> 2022
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link" (click)="seleccionarAnio($event, 2023)">
                      <i class="far fa-file-alt"></i> 2023
                    </a>
                  </li>                
                </ul>
            </div>

              
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
         

          <!--<a href="" class="btn btn-primary btn-block mb-3">Trimestre</a>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Trimestre</h3>
                    <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <ul class="nav nav-pills flex-column">
                      <li class="nav-item active">
                          <a href="" class="nav-link">
                          <i class="far fa-file-alt"></i> Trimestre 1
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="" class="nav-link">
                          <i class="far fa-file-alt"></i> Trimestre 2
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="" class="nav-link">
                          <i class="far fa-file-alt"></i> Trimestre 3
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="" class="nav-link">
                          <i class="far fa-file-alt"></i> Trimestre 4
                          </a>
                      </li>
                    </ul>
                </div>-->
            <!-- /.card-body 
            </div>-->

          
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">! De tu Interes...¡</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
  
                  <div class="card card-primary">
             
                      <!-- /.card-header -->
                      <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i> BRECHAS</strong>
        
                        <p class="text-muted" style="text-align: justify;">
                             
                            ¿Qué es una brecha?: <br><br>
                            La brecha que se presenta corresponde a la diferencia o distancia entre el porcentaje de avance acumulado de la Política Pública frente a su trayectoria ideal, es decir frente a lo que debería llevar a una vigencia determinada.<br><br>
                            ¿Cómo se calcula?:<br><br>
                            La brecha se calcula a partir de la resta entre el porcentaje de trayectoria ideal y el porcentaje de avance acumulado que lleva la política en una vigencia determinada.<br><br>
                            Vínculo a la guía de seguimiento: <a href="https://www.sdp.gov.co/sites/default/files/guia_formulacion_implementacion_politicas_publicas.pdf">Guía de Formulación e implementación</a> <br><br>
                            
                            La primera gráfica (Brechas acumuladas de las Políticas), muestra las políticas públicas organizadas de mayor a menor brecha. Una brecha positiva (barras en color verde) significa que la política pública lleva un avance acumulado superior a lo que debería llevar hasta la vigencia seleccionada. Por el contrario, una brecha negativa (barras en color rojo), implica que la política pública en el acumulado presenta un retraso en el avance acumulado.<br><br>
                            La Segunda gráfica, correspondiente a “Brechas acumuladas por sector” muestra los diferentes sectores de la administración distrital y su respectiva brecha de acuerdo con el avance acumulado de todos los productos a cargo de dicho sector en todas las políticas públicas.
                            
                        </p>
        
                        <hr>
        
                      </div>
                      <!-- /.card-body -->
                  </div>
              </div>
              <!-- /.card-body -->
            </div>
            
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card card-primary card-outline">
            <div class="card-header" style="display: flex; align-items: center; flex-direction: column;">
              <h2 class="">Brechas acumuladas de las políticas </h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                



                    <!-- Info boxes -->
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="info-box">
                                
                                <div class="info-box-content" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <span class="info-box-text">Politicas Publicas</span>
                                <h5 class="info-box-number">
                                    51
                                    <small></small>
                                </h5>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3">
                           
                            <div class="info-box-content" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <span class="info-box-text">Objetivos Especificos</span>
                                <h5 class="info-box-number">
                                  238
                                    <small></small>
                                </h5>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
            
                        <!-- fix for small devices only -->
                        <div class="clearfix hidden-md-up"></div>
            
                        <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3">
                            
            
                            <div class="info-box-content" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                <span class="info-box-text">Indicadores de resultado</span>
                                <h5 class="info-box-number">
                                  532
                                    <small></small>
                                </h5>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-12 col-sm-6 col-md-3">
                        <div class="info-box mb-3">
                           
            
                            <div class="info-box-content" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                            <span class="info-box-text">Indicadores de producto</span>
                            <span class="info-box-number"><h5 class="info-box-number">3.394</h5></span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->



                    <div class="col-lg-12">
                      <div class="card">
                        <div class="card-header border-0">
                          <div class="d-flex justify-content-between">
                            <!--<h3 class="card-title">BRECHAS</h3>-->
                            <!--<a href="javascript:void(0);">View Report</a>-->
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="d-flex" style="display: flex; align-items: center; flex-direction: column;">
                            <h3 class="d-flex flex-column">
                              <!--<<span class="text-bold text-lg">$18,230.00</span>-->
                              <span>Brechas acumuladas por politicas</span>
                            </h3>
                            <p class="ml-auto d-flex flex-column text-right">
                              <!--<span class="text-success">
                                <i class="fas fa-arrow-up"></i> 33.1
                              </span>
                              <span class="text-muted">Desde el ultimo mes</span>-->
                            </p>
                          </div>
                          <!-- /.d-flex -->
          
                          <div class="position-relative mb-4">
                            <canvas id="horizontalBarChart" height="500"></canvas>
                          </div>
          
                          <!--<div class="d-flex flex-row justify-content-end">
                            <span class="mr-2">
                              <i class="fas fa-square text-primary"></i> Esté Año
                            </span>
          
                            <span>
                              <i class="fas fa-square text-gray"></i> Ultimo Año
                            </span>
                          </div>-->
                        </div>
                      </div>
                        <!-- /.card -->
            
                       
                    </div>


                    <div class="col-lg-12">
                      <div class="card">
                        <div class="card-header border-0">
                          <div class="d-flex justify-content-between">
                            <!--<h3 class="card-title">BRECHAS</h3>-->
                            <!--<a href="javascript:void(0);">View Report</a>-->
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="d-flex" style="display: flex; align-items: center; flex-direction: column;">
                            <h3 class="d-flex flex-column">
                              <!--<<span class="text-bold text-lg">$18,230.00</span>-->
                              <span>Brechas acumuladas por sector</span>
                            </h3>
                            <p class="ml-auto d-flex flex-column text-right">
                              <!--<span class="text-success">
                                <i class="fas fa-arrow-up"></i> 33.1
                              </span>
                              <span class="text-muted">Desde el ultimo mes</span>-->
                            </p>
                          </div>
                          <!-- /.d-flex -->
          
                          <div class="position-relative mb-4">
                            <canvas id="horizontalBarChart2" height="450"></canvas>
                          </div>
          
                          <!--<div class="d-flex flex-row justify-content-end">
                            <span class="mr-2">
                              <i class="fas fa-square text-primary"></i> Esté Año
                            </span>
          
                            <span>
                              <i class="fas fa-square text-gray"></i> Ultimo Año
                            </span>
                          </div>-->
                        </div>
                      </div>
                        <!-- /.card -->

                        <!-- /.card -->
                    </div>

                   

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              
            </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      
      <div class="card">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class=""><span>Comparación de las últimas dos Brechas acumuladas</span> </h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <!--<input type="text" name="table_search" class="form-control float-right" placeholder="Search">-->
                    <div class="input-group-append">
                      
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Política Pública</th>
                      <th>BRECHA 2023 Q4</th>
                      <th>BRECHA 2023 Q3</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Cultura ciudadana (SCRD)</td>
                      <td>13.86</td>
                      <td>12.59</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Trata (SDG)</td>
                      <td>12.84</td>
                      <td>2.39</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Juventud (SDIS)</td>
                      <td>12.82</td>
                      <td>15.53</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Adultez (SDIS)</td>
                      <td>10.6</td>
                      <td>11.93</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>Biodiversidad (SDA)</td>
                      <td>9.62</td>
                      <td>7.38</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>Servicio a la ciudadanía (SGeneral)</td>
                      <td>9.04</td>
                      <td>9.02</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td>Vejez (SDIS)</td>
                      <td>8.73</td>
                      <td>7.89</td>
                    </tr>
                    <tr>
                      <td>8</td>
                      <td>Derechos humanos (SDG)</td>
                      <td>7.35</td>
                      <td>3.03</td>
                    </tr>
                    <tr>
                      <td>9</td>
                      <td>Transparencia (SGeneral)</td>
                      <td>6.46</td>
                      <td>6.69</td>
                    </tr>
                    <tr>
                      <td>10</td>
                      <td>LGBTI (SDP)</td>
                      <td>6.41</td>
                      <td>7.34</td>
                    </tr>
                    <tr>
                      <td>11</td>
                      <td>Mujer (SDMujer)</td>
                      <td>5.59</td>
                      <td>5.1</td>
                    </tr>
                    <tr>
                      <td>12</td>
                      <td>Productividad (SDDE)</td>
                      <td>5.32</td>
                      <td>1.92</td>
                    </tr>
                    <tr>
                      <td>13</td>
                      <td>Economía cultural (SCRD)</td>
                      <td>5.25</td>
                      <td>-0.2</td>
                    </tr>
                    <tr>
                      <td>14</td>
                      <td>Cultos (SDG)</td>
                      <td>5.08</td>
                      <td>6.27</td>
                    </tr>
                    <tr>
                      <td>15</td>
                      <td>Bicicleta (SDM)</td>
                      <td>4.98</td>
                      <td>6.67</td>
                    </tr>
                    <tr>
                      <td>16</td>
                      <td>Talento humano (SGeneral)</td>
                      <td>4.6</td>
                      <td>5.59</td>
                    </tr>
                    <tr>
                      <td>17</td>
                      <td>Educación ambiental (SDA)</td>
                      <td>4.31</td>
                      <td>5.45</td>
                    </tr>
                    <tr>
                      <td>18</td>
                      <td>Habitabilidad en calle (SDIS)</td>
                      <td>4.07</td>
                      <td>4.99</td>
                    </tr>
                    <tr>
                      <td>19</td>
                      <td>Familias (SDIS)</td>
                      <td>3.76</td>
                      <td>3.47</td>
                    </tr>
                    <tr>
                      <td>20</td>
                      <td>Discapacidad (SDIS)</td>
                      <td>3.13</td>
                      <td>4.39</td>
                    </tr>
                    <tr>
                      <td>21</td>
                      <td>Servicios Públicos (SDH)</td>
                      <td>3.03</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>22</td>
                      <td>Economía Circular (SDA)</td>
                      <td>2.58</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>23</td>
                      <td>Infancia (SDIS)</td>
                      <td>2.58</td>
                      <td>3.46</td>
                    </tr>
                    <tr>
                      <td>24</td>
                      <td>Seguridad alimentaria (SDDE)</td>
                      <td>1.92</td>
                      <td>-5.31</td>
                    </tr>
                    <tr>
                      <td>25</td>
                      <td>Peatón (SDM)</td>
                      <td>1.57</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>26</td>
                      <td>Actividades sexuales pagadas (SDMujer)</td>
                      <td>1.07</td>
                      <td>-1.26</td>
                    </tr>
                    <tr>
                      <td>27</td>
                      <td>LEO (SCRD)</td>
                      <td>0.37</td>
                      <td>2.11</td>
                    </tr>
                    <tr>
                      <td>28</td>
                      <td>Educación (SED)</td>
                      <td>-0.58</td>
                      <td>4.61</td>
                    </tr>
                    <tr>
                      <td>29</td>
                      <td>Comunicación Comunitaria (SDG)</td>
                      <td>-0.83</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>30</td>
                      <td>Espacio Público (SDG)</td>
                      <td>-0.87</td>
                      <td>8.58</td>
                    </tr>
                    <tr>
                      <td>31</td>
                      <td>Migrantes (SDG)</td>
                      <td>-1.37</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>32</td>
                      <td>Turismo (SDDE)</td>
                      <td>-1.44</td>
                      <td>4.04</td>
                    </tr>
                    <tr>
                      <td>33</td>
                      <td>Vendedores Informales (SDDE)</td>
                      <td>-1.68</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>34</td>
                      <td>Pobreza (SDP)</td>
                      <td>-2.27</td>
                      <td>8.54</td>
                    </tr>
                    <tr>
                      <td>35</td>
                      <td>Acción Climática (SDA)</td>
                      <td>-2.34</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>36</td>
                      <td>Seguridad +Paz (SDSCJ)</td>
                      <td>-3.02</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>37</td>
                      <td>Protección y Bienestar Animal (SDA)</td>
                      <td>-3.16</td>
                      <td>-6.11</td>
                    </tr>
                    <tr>
                      <td>38</td>
                      <td>Hábitat (SDH)</td>
                      <td>-3.73</td>
                      <td>-0.22</td>
                    </tr>
                    <tr>
                      <td>39</td>
                      <td>Trabajo Decente (SDDE)</td>
                      <td>-3.9</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>40</td>
                      <td>BTI (SGeneral)</td>
                      <td>-5.66</td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>41</td>
                      <td>Ciencia, tecnología e innovación (SDDE)</td>
                      <td>-5.96</td>
                      <td>-4.95</td>
                    </tr>
                    <tr>
                      <td>42</td>
                      <td>Movilidad (SDM)</td>
                      <td>-6.07</td>
                      <td>1.05</td>
                    </tr>
                    <tr>
                      <td>43</td>
                      <td>Deporte (SCRD)</td>
                      <td>-9.63</td>
                      <td>-3.02</td>
                    </tr>
                    <tr>
                      <td>44</td>
                      <td>Acción Comunal (SDG)</td>
                      <td>-12.12</td>
                      <td>1.02</td>
                    </tr>
                  </tbody>
                
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>

      
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->

  
