 <!-- Content Header (Page header) -->
 <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <!--<div class="col-sm-1">
          <h1>Blank Page</h1>
        </div>-->
        <div class="col-sm-12">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Fecha corte 31-12-2023 </a></li>
          </ol>
          <ol class="breadcrumb float-sm-left">
            <li ><h5><strong><p style="color: black;" > Disclaimer: <i>Datos sujetos a cambios de acuerdo con los reportes de las entidades responsables</i></p></strong></h5></li>
          </ol>
          
        </div>

        

      </div>
    </div><!-- /.container-fluid -->
</section>